name: Deploy to EC2

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to deploy"
        required: true
        default: "main"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch || github.ref }}
      - name: Print vars
        run: |
          echo "EC2_KEY=${{ vars.EC2_KEY }}"

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          corepack enable
          yarn install --immutable

      - name: Build
        run: yarn build

      - name: Upload build artifacts
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 3.109.158.79
          username: ubuntu
          key: ${{ vars.EC2_KEY }}
          port: ${{ secrets.EC2_PORT || 22 }}
          source: ".next,package.json,yarn.lock,public,next.config.ts"
          target: /home/ubuntu/crm

      - name: Restart app
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 3.109.158.79
          username: ubuntu
          key: ${{ vars.EC2_KEY }}
          port: ${{ secrets.EC2_PORT || 22 }}
          script: |
            cd /home/ubuntu/crm
            yarn install --production --ignore-optional --prefer-offline
            pm2 restart all --update-env
            pm2 reload ecosystem.config.js --env production
